
.demo-content{
    padding: 2rem 1rem;
    text-align: left;

    & h2{
        margin: 1rem;
        text-align: left;
    }
    & p{
        width: 80%;
    }
}

.form{
    position: relative;
    background-color: #f9f9f9;
    margin: auto;
    padding: 3rem;
    // font-size: 1.6rem;
    font-family: inherit;
    font-size: 2rem;

    &-label{
        font-size: 1.6rem;
    }
    &-control{
        font-size: 1.6rem;
    }

    &-check-input{
        font-size: 1.6rem;
    }
    &-check-label{
        font-size: 1.6rem;
    }
}