.showcase{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;

    @include respond(tab-port){
        flex-direction: column;
        justify-content: center;
    }
}
.showcase-left{
    padding: 2rem;
    img{
        width: 50rem;
    }
    @include respond(tab-port){
        padding: 1rem;
        img{
            width: 90%;
        }
    }
}
.questions{
    padding: 3rem;
    font-family: inherit;
    color: #222;

    @include respond(tab-port){
        padding: 0;
    }
h1{
    margin: 1.5rem 0;
    text-align: center;
}
&-container{
    position: relative;
    padding: 0 1.5rem;
    // width: 600px;
    position: relative;
    margin: 0 auto;

    @include respond(tab-port){
        width: 500px;
    }
    @include respond(phone){
        width: 100%;
    }
}
    &-content{
        position: relative;
        padding: 2.5rem 2rem;
        margin: 1rem 0;
        overflow: hidden;
        transition: .3s ease;

        @include respond(phone){
            padding: 1.5rem 1rem;
        }

            &.active {
              transform: translateY(-0.5rem);
              background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.547), rgba(255, 255, 255, 0.2));
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
            }
            

                
            &.active .questions-btn .fa-times-circle{
                display: block;
                font-size: 2rem;
                color: rgb(218, 92, 92);
            }
            &.active .questions-btn .fa-chevron-down{
              
                display: none;
            }
            &.active .text{
                display: block;
            }

            .fa-chevron-down, .fa-times-circle {
              font-size: 2.3rem;
            }
    }

    .title{
        margin: 1rem;
        font-size: 1.6rem;
    }
    .text{
      font-size: 1.6rem;
      margin: 1.5rem;
      display: none;

      p{
        margin-bottom: 1rem;
      }
    }
    &-btn{
        position: relative;
        z-index: 1;
        background-color:transparent;
        border: 0;
        cursor: pointer;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 30px;
        right: 20px;
        height: 30px;
        width: 30px;
        color: rgb(113, 113, 238);
    }
    &-btn:focus{
        outline: 0;
    }
    &-btn .fa-times-circle{
        display: none;
    }
    // @media (max-width: 500px){
    //     .container{
    //         width: 500px;
            
    //     }
    //     .content{
    //         padding: 1rem 0;
    //     }
    //     .title{
    //         font-size: 16px;
    //     }
    //     .text{
    //         font-size: 16px;
    //     }
}
